        <script src="js/user.js"></script>
        <nav>
            <div id="navContent">
                <div id="links">
                    <a href="/">Index</a>
                    <a href="/about">About</a>
                </div>
                <div id="account">
                    <a id="accountButton" href="">Hello, <div id="username"></div></a>
                    <script>
                    changeName("username");
                    assignLogin();
                    </script>
                </div>
            </div>
        </nav>
