        <nav>
            <div id="navContent">
                <div id="links">
                    <a href="/">Index</a>
                    <a href="/about">About</a>
                </div>
                <div id="account">
                    <a id="account" href="/">Name Here</a>
                </div>
            </div>
        </nav>
