<DOCTYPE html>
<html>
    <% include partials/head.ejs %>
    <body>
    <% include partials/header.ejs %>
        <div id="search">
            <form class="form" action="/results" method="post">
                <input id="searchBar" type="text" name="searchTerm" placeholder="Search here..." autofocus>
                <input id="searchButton" type="submit" value="Search">
            </form>
        </div>
    </body>
</html>
